@model K22CNT4_TTCD1_PhamThiThuHuyen.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceSale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Feature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Feature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeoTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeoTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeoDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeoDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeoKeywords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeoKeywords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
