@model IEnumerable<K22CNT4_TTCD1_PhamThiThuHuyen.Models.tb_Category>

@{
    ViewBag.Title = "Quản lý danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý danh mục</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>

            <label for="exampleInputEmail1">Tên danh mục</label>
        </th>
        <th>
            <label for="exampleInputPassword1">Mô tả</label>
        </th>
     @*  <th>
            @Html.DisplayNameFor(model => model.SeoTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeoDescription)
        </th>*@
@*        <th>
            @Html.DisplayNameFor(model => model.Keyword)
        </th>*@
        <th>
            <label for="exampleInputEmail1">Id sản phẩm</label>
        </th>
        <th>
            <label for="exampleInputEmail1">Người tạo</label>
        </th>
        <th>
            <label for="exampleInputEmail1">Ngày tạo</label>
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>*@
        <th>Chức năng</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
   @*        <td>
                @Html.DisplayFor(modelItem => item.SeoTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeoDescription)
            </td>*@
@*            <td>
                @Html.DisplayFor(modelItem => item.Keyword)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
